li{
    display: flex;
}

.numStreams{
    display: flex;
    flex-direction: column;
}

.number{
    font-size: 40px;
}

.title {
    font-size: 22px;
    font-weight: bold;
}

.songArtist{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.artistName{
    font-style: italic;
}

.songDate {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-left: auto;
}